body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}
span{
  color:gray;
  font-style:italic;
}
h1{
  border-bottom: solid black 5px;
}
header ul{
  border-bottom: solid gray 2px;
}
a{
  text-decoration: none;
  color:blue;
  font-weight:bold;
}
main a{
  color:purple;
}
aside a{
  color:purple;
}
footer{
  border-top: solid black 5px;
}